<a href="https://colab.research.google.com/github/Venkat995/Datasets/blob/master/LoanRepayment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loan Payment Analysis

The goal of the analysis is to use loan payment dataset to investigate and predict whether a loan borrower will be able to repay the loan on time or not. I am using all the information of the borrower to estimate the status of a loan and the factors driving this status. The main aim to help the financial institution find out whether the borrower will be able to pay the loan on time by identifying important decision factors and groups of borrowers that should be closely examined before lending them money.

## 1. Data Set Description

<table align="left" style="color: Green"> 
    <tr><th align="center">Feature Name</th> <th align="center">Description</th></tr>
    <tr><td align="left">Loan_id</td><td align="left">A unique loan number assigned to each loan customers</td></tr>    
    <tr><td align="left">Loan_status</td><td align="left">Whether a loan is paid off, in collection, new customer yet to payoff, or paid off after the collection efforts</td></tr>
    <tr><td align="left">Principal</td align="left"><td>Basic principal loan amount at the origination </td></tr>
    <tr><td align="left">terms</td><td center="left">terms, could be weekly (7 days), biweekly, and monthly payoff schedule</td></tr>
    <tr><td align="left">Effective_date</td><td align="left">When the loan got originated and took effects</td></tr>
    <tr><td align="left">Due_date</td><td align="left">Since it’s one-time payoff schedule, each loan has one single due date</td></tr>
    <tr><td align="left">Paidoff_time</td><td align="left">The actual time a customer pays off the loan</td></tr>
    <tr><td align="left">Pastdue_days</td><td align="left">How many days a loan has been past due</td></tr>
    <tr><td align="left">Age</td><td align="left">A customer’s basic demographic information</td></tr>
    <tr><td align="left">education</td><td align="left">A customer’s basic demographic information</td></tr>    
    <tr><td align="left">gender</td><td align="left">A customer’s basic demographic information</td></tr> 
</table>

In [ ]:
#import packages and dataset
import numpy as np  
import pandas as pd  
import matplotlib.pyplot as plt
import seaborn as sns   
#%matplotlib inline

In [ ]:
loan_payment = pd.read_csv("Loan payments data.csv")
loan_payment.head(5)

       Loan_ID loan_status  Principal  ...  age             education  Gender
0  xqd20166231     PAIDOFF       1000  ...   45  High School or Below    male
1  xqd20168902     PAIDOFF       1000  ...   50              Bechalor  female
2  xqd20160003     PAIDOFF       1000  ...   33              Bechalor  female
3  xqd20160004     PAIDOFF       1000  ...   27               college    male
4  xqd20160005     PAIDOFF       1000  ...   28               college  female

[5 rows x 11 columns]